{% comment %}
{% endcomment %}


<div class="usp-block color-{{ block.settings.usp_product_color_scheme }} gradient !nf-m-0" style="padding-top: {{ block.settings.padding_top }}px; padding-bottom: {{ block.settings.padding_bottom }}px;">
    {% assign count_usp = count_usp | plus: 1 %}
    {% if block.settings.usp_product_page_content != blank %}
        {%  capture cursor_auto %}  {% endcapture %}
    {% else %}
        {%  capture cursor_auto %} cursor-auto {% endcapture %}
    {% endif %}

    <div id="usp_product__item-{{count_usp}}" class="nf-flex nf-relative nf-items-center usp_product__item color-{{ color_scheme }} gradient" block-id="{{ block.id }}" count_usp="{{count_usp}}">
        {%- if usp_product_icon_svg -%}
            <span class="color-{{ color_scheme }} gradient first:nf-contents [&>svg]:nf-max-w-[20px] [&>svg]:nf-h-[20px] [&>svg]:nf-w-full [&>svg]:nf-fill-[#80807E]">{{ usp_product_icon_svg }}</span>
        {%- endif -%}
        <span id="showDialog-{{ block.id }}" class="nf-flex usp-font-size color-{{ color_scheme }} gradient {{- cursor_auto -}}">
            <span class="nf-ml-[10px]" style="font-size: {{usp_product_font_size}}px;">{{ usp_product_text }}</span>
            {%- if usp_product__item_svg_icon_2 -%}
                <span class="nf-ml-[10px]">{{ usp_product__item_svg_icon_2 }}</span>   
            {%- endif -%}
        </span>
    </div> 
    
</div>