{% comment %}

Instructions:

1. Add this file to your sections folder

2. Create your metaobject
Metaobject name: Shop the look
Metaobject description: This shop the look is designed for shopify page. It allows you to add a list of products with a main image and a description.

Metobject type: shop_the_look
Metaobject fields:
- Name model
  name: Name model
  type: single line text
- Description
  name: Description
  type: richtext
- Main image:
  name: Main image
  type: file(image only)
- Product list
  name: Product list
  type: product_list

{% endcomment %}

{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- style -%}

    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @keyframes slide-up {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-down {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(100%);
            opacity: 0;
        }
    }

    .animate-slide-up {
    animation: slide-up 0.5s ease-out forwards;
    }

    .animate-slide-down {
    animation: slide-down 0.5s ease-out forwards;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }


{%- endstyle -%}

{% liquid 
    assign fetch_priority = 'auto'
    if section.index == 1
        assign fetch_priority = 'high'
    endif
    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
    assign image_class = ''
%}

{%- capture sizes -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
{%- endcapture -%}


{% assign shop_the_look_items = section.settings.shop_the_look_items  %}

<div class="page-width section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">

    {% if shop_the_look_items != blank %}

    <div class="shop-the-look-items">
        <div class="product-grid-container">
            <div class="">
                <ul id="product-grid" data-id="{{ section.id }}" class="grid product-grid grid--2-col-tablet-down grid--4-col-desktop">
                    {% for look_item in shop_the_look_items %}
                        <li class="tw-relative tw-group grid__item max-[640px]:!tw-w-full max-[640px]:tw-max-w-[100%]" data-index="{{ forloop.index }}">
                            <div class="tw-absolute tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-cursor-pointer min-[990px]:tw-opacity-0 min-[990px]:tw-bg-white/60 tw-transition-all tw-duration-300 min-[990px]:group-hover:tw-opacity-100 min-[990px]:group-hover:tw-backdrop-blur-sm max-[989px]:tw-flex max-[989px]:tw-flex-col max-[989px]:tw-justify-end">
                                <span class="max-[989px]:tw-hidden"> {{ look_item.name_model }} </span>
                                <button onclick="toggleSlider('{{ forloop.index }}')" class="tw-uppercase tw-bg-white tw-rounded-md tw-overflow-hidden tw-py-4 tw-px-5 tw-leading-[11px] tw-hidden max-[989px]:tw-block max-[989px]:tw-mb-[20px]">{{ 'sections.shop_the_look.show_the_look' | t }}</button>
                            </div>
                            {{ look_item.main_image | image_url: width: 1500 | image_tag: class: "tw-cursor-pointer image_class", sizes: sizes, widths: widths, fetchpriority: fetch_priority }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% for look_item in shop_the_look_items %}
        <div class="shop-the-look-contents tw-hidden" data-index="{{ forloop.index }}">
            <div class="">
                <button class="shop-the-look-back tw-relative tw-text-black tw-group tw-flex tw-items-center tw-gap-[10px]">
                    <span class="tw-w-3 tw-h-3 tw-rotate-180">{{- 'icon-arrow.svg' | inline_asset_content -}}</span> <div class="tw-font-bold h3">{{ 'sections.shop_the_look.view_all_looks' | t }}</div>
                </button>
                <div class="tw-py-[10px] tw-grid tw-grid-cols-2">
                    {% assign description_data = look_item.description.value %}
                    {% for child in description_data.children %}
                        {% for grandchild in child.children %}
                            {% if grandchild.value %}
                            {{ grandchild.value }}
                            {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="tw-grid tw-grid-cols-2 tw-gap-4">
                    <div class="">
                        {{ look_item.main_image | image_url: width: 3000 | image_tag: class: "tw-cursor-pointer image_class", sizes: sizes, widths: widths, fetchpriority: fetch_priority }}
                    </div>
                    <div class="">

                        <div class="tw-grid tw-grid-cols-2 tw-gap-4 lg:tw-w-3/4 lg:tw-mx-auto">
                            {% for product in look_item.product_list.value %}
                                <div class="tw-cursor-pointer">
                                    {% render 'card-product',
                                    card_product: product,
                                    media_aspect_ratio: section.settings.image_ratio,
                                    image_shape: 'default',
                                    show_secondary_image: true,
                                    show_vendor: false,
                                    show_rating: false,
                                    skip_styles: false,
                                    section_id: section.id,
                                    quick_add: false 
                                    %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>               
        </div> 
    {% endfor %}

    {% else %}
        <ul id="product-grid" data-id="{{ section.id }}" class="grid product-grid grid--2-col-tablet-down grid--4-col-desktop">
            {% for i in (1..4) %}
                <li class="tw-relative tw-group grid__item max-[640px]:!tw-w-full max-[640px]:tw-max-w-[100%]" data-index="{{ forloop.index }}">
                    {%- assign ridx = forloop.index | append: '' -%}
                    {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
                    {% render 'card-product',
                    show_vendor: section.settings.show_vendor,
                    media_aspect_ratio: 'portrait',
                    image_shape: section.settings.image_shape,
                    placeholder_image: placeholder_image
                    %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

<div id="overlay" class="tw-hidden tw-fixed tw-inset-0 tw-bg-black tw-bg-opacity-50"><span class="tw-sr-only">{{ 'sections.shop_the_look.overlay' | t }}</span></div>
<div id="shop-the-look-slider" class="tw-hidden tw-transition animate-slide-down tw-fixed tw-pb-[0px] tw-w-full tw-h-fit tw-bottom-0 tw-p-[2rem] tw-bg-white tw-z-[9999]">
   
    <div class="tw-flex tw-justify-between tw-items-center tw-pb-[2rem]">
        <div class="tw-font-bold tw-text-[2rem]">{{ 'sections.shop_the_look.title' | t }}</div>
        <div>
            <button id="close-button">
                <span class="svg-wrapper">
                    {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
            </button>
        </div>
    </div>
    <div class="shop-the-look-contents-mobile tw-overflow-y-auto">
        {% for look_item in shop_the_look_items %}
        {% assign item_count = 0 %}
        {% for product in look_item.product_list.value %}
            {% assign item_count = item_count | plus: 1 %}
        {% endfor %}
        
        <div class="{% if item_count == 3 %}tw-w-[485px] tw-grid-cols-3{% else %}tw-w-[640px] tw-grid-cols-4{% endif %} tw-grid tw-gap-4" data-index="{{ forloop.index }}">
            {% for product in look_item.product_list.value %}
                <div class="tw-cursor-pointer">
                    {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: 'default',
                    show_secondary_image: true,
                    show_vendor: false,
                    show_rating: false,
                    skip_styles: false,
                    section_id: section.id,
                    quick_add: false 
                    %}
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (window.matchMedia("(min-width: 640px)").matches) {
            const shopTheLookItemsContainer = document.querySelector('.shop-the-look-items');
            const lookItems = document.querySelectorAll('#product-grid .grid__item');
            const shopTheLookContents = document.querySelectorAll('.shop-the-look-contents');

            lookItems.forEach(item => {
                item.addEventListener('click', () => {
                    const index = item.getAttribute('data-index');
                    const relatedContent = document.querySelector(`.shop-the-look-contents[data-index="${index}"]`);
                    if (relatedContent) {
                        relatedContent.classList.remove('tw-hidden');
                        shopTheLookItemsContainer.classList.add('tw-hidden');
                        lookItems.forEach(li => li.classList.add('tw-hidden'));
                    }
                    const relatedBackButton = relatedContent.querySelector('.shop-the-look-back');
                    if (relatedBackButton) {
                        relatedBackButton.addEventListener('click', () => {
                        relatedContent.classList.add('tw-hidden');
                        shopTheLookItemsContainer.classList.remove('tw-hidden');
                        lookItems.forEach(item => item.classList.remove('tw-hidden'));
                        console.log(`Back button clicked for item: ${index}`);
                        }, { once: true });
                    }
                });
            });
        }
    });

    function toggleSlider(index) {

        const slider = document.getElementById('shop-the-look-slider');
        const overlay = document.getElementById('overlay');
        const closeButton = document.getElementById('close-button');
        const body = document.querySelector('body');
        
        body.classList.add('tw-overflow-hidden');

        function handleClose() {
            body.classList.remove('tw-overflow-hidden');
            slider.classList.remove('animate-slide-up');
            slider.classList.add('animate-slide-down');
            overlay.classList.add('tw-hidden');
            slider.addEventListener('animationend', function handleAnimationEnd() {
            if (slider.classList.contains('animate-slide-down')) {
                slider.classList.add('tw-hidden');
                slider.classList.remove('animate-slide-down');
            }
            slider.removeEventListener('animationend', handleAnimationEnd);
            });
        }

        if (slider.classList.contains('tw-hidden')) {

            slider.classList.remove('tw-hidden', 'animate-slide-down');
            slider.classList.add('animate-slide-up');
            overlay.classList.remove('tw-hidden');

            document.querySelectorAll('.shop-the-look-contents-mobile > div').forEach((content) => {
            if (content.getAttribute('data-index') === index) {
                content.classList.remove('tw-hidden');
                content.classList.add('tw-grid');
            } else {
                content.classList.add('tw-hidden');
                content.classList.remove('tw-grid');
            }
            });
        } else {
            handleClose();
        }

        closeButton.addEventListener('click', handleClose);
        overlay.addEventListener('click', handleClose);
    }

</script>




{% schema %}
{
    "name": "TW - Shop the Look",
    "settings": [
        {
            "type": "metaobject_list",
            "id": "shop_the_look_items",
            "metaobject_type": "shop_the_look",
            "label": "Shop the look items",
            "info": "Connect the shop the look metaobject to this field."
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                "value": "adapt",
                "label": "t:sections.related-products.settings.image_ratio.options__1.label"
                },
                {
                "value": "portrait",
                "label": "t:sections.related-products.settings.image_ratio.options__2.label"
                },
                {
                "value": "square",
                "label": "t:sections.related-products.settings.image_ratio.options__3.label"
                }
            ],
            "default": "adapt",
            "label": "Product items image ratio"
        },
        {
            "type": "color_scheme",
            "id": "section_color_scheme",
            "label": "Color scheme",
            "default": "scheme-1"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding top",
            "default": 36
        },
        {
        "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding bottom",
            "default": 36
        }
    ],
    "presets": [
        {
            "name": "TW - Shop the Look"
        }
    ]
}
{% endschema %}